<div class="container">
  <div class="alert alert-success">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
    <strong>Call Confirmed!</strong>Congrats, Your call with that high schooler is accepted and confirmed.
  </div>
</div>