<div class="container">
  <div class="alert alert-success">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
    <strong>Alternative call request sent!</strong>Your alternative time was sent and the high schooler may schedule another call with you.
  </div>
</div>