<div id="upload-essay-image" >
  <div class="image-text-container">
    <h1 class="upload-essay-background-image-text">
      <%#=link_to "Current Georgetown Students, waiting to connect.</h1>".html_safe, "/" , style: "color: white;"%>
      Current Georgetown Students, waiting to connect
    </h1>
  </div>
</div>
<br/><br/><br/>
<div class="container" id="essays">
  <% @essays.each_slice(3) do |group|%>
      <div class="row">
        <% group.each do |e| %>
            <div class="col-md-4 essays">
              <div class="card">
                <%=link_to '' do %>
                    <img class="card-img-top" src="<%=real_img_or_gu_logo e.avatar_path.url%>">
                <%end%>

                <div class="card-block">
                  <h4 class="card-title"><%=link_to "", ''%></h4>
                  <!--<h6 class="card-title">$5</h6>-->
                </div>
              </div>
            </div>
        <%end%>
      </div>
  <%end%>
  <%=paginate @essays%>
</div>