<div id="upload-essay-image" >
  <div class="image-text-container">
    <h1 class="upload-essay-background-image-text">Current Georgetown Students, waiting to connect</h1>
  </div>
</div>
<br/><br/><br/>
<div class="container" id="essays">
  <% @essays.each_slice(3) do |users|%>
      <div class="row">
        <% users.each do |user| %>
            <div class="col-md-4 essays">
              <div class="card">
                <%=link_to '' do %>
                    <img class="card-img-top" src="<%=get_user_avatar user.avatar_path.url%>">
                <%end%>

                <div class="card-block">
                  <h4 class="card-title"><%=link_to user.display_name, user_path(e)%></h4>
                  <!--<h6 class="card-title">$5</h6>-->
                </div>
              </div>
            </div>
        <%end%>
      </div>
  <%end%>
  <%= paginate @essays %>
</div>