<div class="container-fluid" id="slides-container" xmlns="http://www.w3.org/1999/html">
  <% if user_signed_in? %>
    <%= render partial: "home/carousel_logged_in" %>
  <% else %>
    <%= render partial: "home/carousel_sign_up"%>
  <% end %>
</div>


<div class="container">
  <center>
    <p>
      <h3>A platform that opens doors to your Freshman year.</h3>
      <h3>Get the <span class="knock-text-color"> application essays</span>, <span class="knock-text-color">resumes</span>, and <span class="knock-text-color">everything you need to know</span> from the students themselves.</h3>
    </p>
  </center>

  <br/>

  <p>How it works:</p>
  <ul>
    <li>
      High School Seniors:
      <ul>
        <li><%= link_to "View current students and schedule a call", users_path %></li>
        <li>Enjoy getting an inside look at the college application process like never before</li>
      </ul>
    </li>
    <br/>
    <li>
      Georgetown Students:
      <ul>
        <li><a href="/">Upload your credentials</a></li>
        <li>Specify whether you'd additionally like to monetize your time through in-person, video, or phone meetings</li>
        <li>Enjoy a passive source of income&nbsp;</li>
      </ul>
    </li>
  </ul>
  <br/><br/>

  <br/><br/>

  <div class="row user-card-container">
    <% @users.each do |user| %>
      <%= render partial: "home/user_card", locals: { user: user } %>
    <% end %>
  </div>
  <br/><br/>

  <div class="row">
    <p class="global-disclaimer">Disclaimer: Georgetown has plagiarism checks for every application submitted. Highschoolers are made well aware that any copying will be easily detected and they alone are responsible resulting in a rejected application. Your essay is merely a storytelling template.</p>
  </div>
</div>