<div class="container-fluid" id="slides-container" xmlns="http://www.w3.org/1999/html">
  <% if user_signed_in? %>
    <%= render partial: "home/carousel_logged_in" %>
  <% else %>
    <%= render partial: "home/carousel_sign_up"%>
  <% end %>
</div>


<div class="container">
  <center>
    <p>
      <h3>A platform that opens doors to your Freshman year.</h3>
      <h3>Get the <span class="knock-text-color"> application essays</span>, <span class="knock-text-color">resumes</span>, and <span class="knock-text-color">everything you need to know</span> from the students themselves.</h3>
    </p>
  </center>

  <div class="row user-card-container">
    <% @users.each do |user| %>
      <div class="col-md-4 col-md-offset-0 col-sm-offset-0  col-sm-6 col-xs-12 essays">
        <%= render partial: "users/user_card", locals: { user: user } %>
      </div>
    <% end %>
  </div>
  <br/><br/>

  <div class="row">
    <p class="global-disclaimer">Disclaimer: Universities has plagiarism checks for every application submitted. Highschoolers are made well aware that any copying will be easily detected and they alone are responsible resulting in a rejected application. Your essay is merely a storytelling template.</p>
  </div>
</div>