<div class="container-fluid" id="slides-container" xmlns="http://www.w3.org/1999/html">
  <div id="page-content">
    <div class="carousel summaries-carousel slide" data-ride="carousel" id="home-main-carousel">
      <div class="carousel-inner" role="listbox">
        <div class="item" id="connect-slide">
          <div class="container">
            <div class="carousel-caption">
              <div class="col-md-8 col-sm-10">
                <h2 class="display-message">Georgetown students make passive income by uploading their actual application essays they used and meeting in real-time with you.</h2>
                <div class="spaced-row">
                  <%= link_to "Student Sign Up", new_user_registration_path, class: "btn btn-lg btn-primary global-knock-button"%>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="item active" id="knock-slide">
          <div class="container">
            <div class="carousel-caption">
              <div class="col-md-8 col-sm-10">
                <h2 class="display-message"> Knock on a student's virtual front door to request an in-person, video, or phone meeting.</h2>
                <div class="spaced-row">
                  <%= link_to "Start Knocking", users_path, class: "btn btn-lg btn-primary global-knock-button"%>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="item" id="announcements-slide">
          <div class="container">
            <div class="carousel-caption">
              <div class="col-md-8 col-sm-10">
                <h2 class="display-message">90% of students have chosen to donate a portion of their earnings to the 1789 Scholarship Fund</h2>
                <div class="spaced-row">
                  <a class="btn btn-lg btn-primary global-knock-button" href="http://giving.georgetown.edu/what-to-support/1789-scholarship-imperative">Learn More</a>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="carousel-summaries-container">
        <div class="carousel-summaries-margin"></div>
        <div class="carousel-summaries strong container">
          <div class="col-sm-4 carousel-summary">
            <div class="notch-margin"></div>
            <div class="notch"></div>
            <div class="notch-margin right"></div>
            <div class="row">
              <div class="col-xs-10 text-center col-xs-offset-1">
                <h3>Passive-Income</h3>
                <p>Make passive income by uploading essays and connecting with prospective students.</p>
                <div class="spaced-row">
                  <img src="/images/icons/header-icon-directory.png" alt="Header icon directory">
                </div>
              </div>
            </div>

          </div>
          <div class="col-sm-4 carousel-summary active">
            <div class="notch-margin"></div>
            <div class="notch"></div>
            <div class="notch-margin right"></div>
            <div class="row">
              <div class="col-xs-10 text-center col-xs-offset-1">
                <h3>What is Knock?</h3>
                <p>Doors will be opened to those who are bold enough to knock.</p>
                <div class="spaced-row">
                  <img src="/images/icons/header-icon-knock.png" alt="Header icon knock">
                </div>
              </div>
            </div>

          </div>
          <div class="col-sm-4 carousel-summary">
            <div class="notch-margin"></div>
            <div class="notch"></div>
            <div class="notch-margin right"></div>
            <div class="row">
              <div class="col-xs-10 text-center col-xs-offset-1">
                <h3>Philanthropy</h3>
                <p>Students have a civic-minded option to donate a portion of earnings to those with financial need.</p>
                <div class="spaced-row">
                  <img src="/images/icons/icon-tower@2x.png" alt="Header icon announcements">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-summaries-margin"></div>
      </div>
    </div>

    <br>
    <br>
  </div>
</div>


<div class="container">
  <center>
    <p>
      <h3>A platform that opens doors to your Freshman year.</h3>
      <h3>Get the <span class="knock-text-color"> application essays</span>, <span class="knock-text-color">resumes</span>, and <span class="knock-text-color">everything you need to know</span> from the students themselves.</h3>
    </p>
  </center>

  <br/>

  <p>How it works:</p>
  <ul>
    <li>
      High School Seniors:
      <ul>
        <li><%= link_to "View current students and schedule a call", users_path %></li>
        <li>Enjoy getting an inside look at the college application process like never before</li>
      </ul>
    </li>
    <br/>
    <li>
      Georgetown Students:
      <ul>
        <li><a href="/">Upload your credentials</a></li>
        <li>Specify whether you'd additionally like to monetize your time through in-person, video, or phone meetings</li>
        <li>Enjoy a passive source of income&nbsp;</li>
      </ul>
    </li>
  </ul>
  <br/><br/>

  <br/><br/>

  <div class="row user-card-container">
    <% @users.each do |user| %>
      <%= render partial: "home/user_card", locals: { user: user } %>
    <% end %>
  </div>
  <br/><br/>

  <div class="row">
    <p class="global-disclaimer">Disclaimer: Georgetown has plagiarism checks for every application submitted. Highschoolers are made well aware that any copying will be easily detected and they alone are responsible resulting in a rejected application. Your essay is merely a storytelling template.</p>
  </div>
</div>