<div class="container">
  <div class="alert alert-success">
    <strong>Success!</strong> Your payment info has been set successfully. Click <%=link_to "here", user_path(@knockee)%> to go back to the student that you want to schedulel meeting with.
  </div>
</div>