Hi <%=@knocker.display_name%>,
<br/>
<%=@knockee.display_name%> wrote back requesting an alternative time: <br/>
<fieldset style="padding:30px;">
  <div>
    <%=@reschedule_time%>
  </div>
</fieldset>

<br/>
<br/>
<p>Happy Knocking!</p>
<p>Knock Team</p>