Hi <%=@knocker.display_name%>,<br/><br/>

<p>Your knock has been sent! We’ll send a confirmation for your call when <%=@knockee.display_name%> accepts.</p>
<br/>
<p> Knock will automatically call your phone at your scheduled time. </p>
<br/>
<p>Remember, the first three minutes are granted free, and your call will last as long as you'd like. </p>

<p>Happy Knocking!</p>
<p>The Knock Team</p>