Hi <%=@knockee.display_name%>,
<br/>
Your <%= Constants::MEETING_TYPES[@meeting.meeting_type] %> has been successfully rejected with <%=@knocker.display_name%>.
<br/>
<br/>
<p>Happy Knocking!</p>
<p>The Knock Team</p>