Hi <%= @target_user.display_name%>,
<br/>
<p><%= @current_user.display_name%> just sent you a file called <%= @file_name%>. Please see the attachments.</p>
<br/>
<p>Happy Knocking</p>
<p>Knock Team</p>