/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require jqueryui-timepicker-addon
 *= require_tree .
 *= require_self
 */

/* "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"*/
@import "bootstrap-sprockets";
@import "bootstrap";


.navbar.navbar-inverse {
    height: 80px;
    border-radius: 0 !important;
    background-color: #FFFEF2;
    border: none;
}

.button-radius {
    border-radius: 50px;
}

.button-theme-color {
    /*background-color: #36BCA8; */
    background-color: black;
    border-color: black;
}

.nav.navbar-nav.navbar-right li a {
    color: #5AA7B4;
}

.button-theme-color:hover {
//border-color: gray;
}

.brand-font-info {
    font-size: 150%;
}

.footer {
    position: relative;
    height: 80px;
    clear:both;
    background-color: black;
    padding-top:0px;
    color: white;
    text-align: center;
}
#footer-upper {
    margin-top: -50px;
    background-color: #666666;
    height: 60px;
}

#footer-text {
    margin-top: 20px;
}

.no-rounded-corner {
    border-radius: 0 !important;
}

.knock-logo {
    padding: 3px;
    margin-top: -33px;
}

.knock-brand-text, .knock-brand-text:hover, .knock-brand-text:visited, .knock-brand-text:link {
    font-size: 40px;
    color: #5AA7B4;
}

#logo, #logo:hover{
    font-size: 40px;
    color: #5AA7B4;
}

.global-knock-button {
    background-color: #5AA7B4;
    color: white;
}

.global-disclaimer {
    font-size: 10px;
}

.knock-text-color {
    color: #5AA7B4;
}

@font-face {
    font-family: knock-global-font;
    src: url("/fonts/AvenirNextLTPro-Regular.otf");
}

body {
    background-color: #FFFEF2;
    font-family: 'knock-global-font', serif;
}

body li {
 //list-style-type: none;
}

.show-content {
    display: block;
}

.hide-content {
    display: none;
}

@media only screen and (min-device-width: 100px) {
    .shopping-cart-margin{
        width: 200px;
        height: 40px;
        background-color: black;
        text-align: center;
        font-size: 11px;
        padding: 12px;
        color: white;
        border-radius: 35px;
        z-index: 2;
        margin-left: auto;
        position: absolute;
    }
}

@media only screen and (min-device-width: 1224px) {
    .cart {
        width: 200px;
        height: 40px;
        background-color: black;
        text-align: center;
        font-size: 11px;
        padding: 12px;
        color: white;
        border-radius: 35px;
        z-index: 2;
        margin-left: 1020px;
        position: absolute;
    }
}
