<nav class="navbar navbar-inverse">
  <div class="container-fluid" style="margin-top: 15px;">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
        <img src="/images/photos/knock.jpg" width="60" height="80" class="knock-logo img-circle">
      </a>
      <%=link_to "Knock", home_index_path, class: "navbar-brand brand-font-info knock-brand-text", id: "logo" %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">About <span class="sr-only">(current)</span></a></li>
        <li><%=link_to "Home", home_index_path %></li>
        <li><%=link_to "Upload Your Essay", "" %></li>
        <li><%=link_to "View Current Georgetown Students", view_application_essays_index_path, class: "" %> <!--btn btn-success btn-lg button-radius button-theme-color -->
        </li>
      </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>