<nav class="navbar navbar-inverse">
  <div class="container-fluid header-container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
        <img src="/images/photos/knock.jpg" width="60" height="80" class="knock-logo img-circle">
      </a>
      <%=link_to "Knock", home_index_path, class: "navbar-brand brand-font-info knock-brand-text", id: "logo" %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><%=link_to "Upload Your Essay", "" %></li>
        <li><%=link_to "View Current Georgetown Students", users_path, class: "" %></li>
      </ul>
    </div>
  </div>
</nav>