<div class="cart shopping-cart-margin">
  <span class="glyphicon glyphicon-shopping-cart pull-left">
  </span><%=link_to "#{show_cart(session[:cart])} item(s) in cart", cart_index_path, style: "color: white;"%>
</div>